::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb{
    background-color: rgba(30, 30, 100, 0.2);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgba(50, 50, 200, 0.2);
    cursor: pointer;
}
body {
    background-color: #e6e6e6;
}

.page .sidebar{
    height: 100vh;
    width: 250px;
    background: linear-gradient(35deg, #014287, #27b0f9);
    top: 0;
    left: 0;
    position: fixed;
    overflow-x: hidden;
    overflow-x: auto;
    transition: all 0.8s ease;
}

.page .content{
    margin-left: 250px;
    transition: all 0.8s ease;
}

body.active .page .sidebar {
    left: -250px;
}

body.active .page .content{
    margin-left: 0;
    width: 100%;
}

.sidebar-header{
    padding: 10px 0px 10px 10px;
}

.sidebar-logo-container {
    background-color: rgba(0, 0, 0, 0.2);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
}

.logo-container{
    max-width: 50px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    margin: 5px;
}

.logo-sidebar{
    width: 100%;
    height: auto;
    padding: 5px;
}

.brand-name-container{
    padding: 0px;
    margin: 5px;
    display: flex;
    align-items: center;
}

.brand-name{
    color: white;
    margin: 0px;
    line-height: 1rem;
    font-size: 19px;
    font-weight: 600;
}

.navigation-list{
    list-style-type: none;
    padding: 0px 18px;
    margin-top: 30px;
}

.navigation-list-item{
    padding: 10px 18px 10px 18px;
    border-radius: 10px;
    margin: 10px 0px;
}

.navigation-list-item:hover{
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0.4 rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.navigation-list-item.active{
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0.4 rgba(255, 255, 255, 0.1);
}
.navigation-link{
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
    font-size: 16;
    text-decoration: none;
}

.navigation-link:hover .navigation-link{
    color: rgba(255, 255, 255, 0.5);
}

.navigation-link.active .navigation-link{
    color: rgba(0, 0, 0, 0.6);
    font-weight: 500;
}

.navigation-link i {
    font-size: 18px;
}

hr.style9 {
    border-top: 1px solid white;
}

.teams-list{
    list-style-type: none;
    padding: 0px 30px;
    margin-top: 0px;
}

.teams-list-item{
    font-size: 12px;
    color: white;
    margin-bottom: 15px;
}

.teams-list-item i{
    font-size: 16px;
}

.teams-title-container{
    padding-left: 30px;
    margin-top: 25px;
    color: white;
}

.navigationBar{
    background-color: white;
    height: 50px;
    padding: 39px 0px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 2px -2px #c5c6c7;
}

.sidebarToggle{
    font-size: 15px;
    background-color: rgb(0, 84, 157);
    color: white;
    margin-left: -30px;
    z-index: 999;
    border-radius: 50px;
    outline: none !important;
    box-shadow: none !important;
    transition: all 0.6s ease;
}

.sidebarToggle:hover{
    background-color: rgb(35, 160, 228);
    color: white
}
.sidebarToggle.active{
    margin-left: 0px;
    background-color: rgb(35, 160, 228);
    color: white
}

.spacio{
    margin-left: 10px;
}
